[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
djangorestframework = "*"
psycopg2 = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.9"
